body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
  display: inline-block;
}

li {
  list-style: none;
}

img.badge {
  width: 130px;
}

/* utility classes */
.t-centered {
  text-align: center;
}
.t-right {
  text-align: right;
}
.mr_30 {
  margin-right: 30px;
}
.mr_10 {
  margin-right: 10px;
}
.pr-1rem {
  padding-right: 1rem;
}
.pl-1rem {
  padding-left: 1rem;
}
.my_2rem {
  margin: 2rem 0;
}
.my_15 {
  margin: 15px 0;
}
.fw_normal {
  font-weight: normal;
}

/* HEADER */

/* nav */
nav {
  height: 60px;
  line-height: 60px;
  background-color: #fff;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  color: grey;
  font-size: 11px;
  text-transform: uppercase;
  margin-right: 20px;
}

nav img.header-logo {
  color: #fff;
  width: 35%;
}

/* banner */
.banner {
  height: 60vh;
  background-image: url(../img/header-bg.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  background-color: rgba(47, 47, 0, .8);
  background-blend-mode: overlay;
  color: #fff;
  position: relative;
}

.banner .centered-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.banner .centered-content > h1 {
  font-size: 3rem;
  font-weight: normal;
}

.banner .centered-content > p {
  margin: 1.5rem 0;
}


/* MODELS */
.models {
  padding: 2rem 6rem;
}

.models .card-bottom > img {
  max-width: 100%;
}

.models .card {
  text-align: center;
}

.models .card:first-of-type {
  padding-right: 20px;
}

.models .card:last-of-type {
  padding-left: 20px;
}

.models .card > .card-top {
  background-color: #fafafa;
  padding-top: 3rem;
}
.card-top > h2 {
  font-size: 2rem;
  font-weight: normal;
}
.card-top > h3 {
  font-size: 26px;
  font-weight: lighter;
  margin: 20px 0;
}

/* HOW-WORK */
.how-work {
  background-image: url(../img/oldman-banner.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  padding-top: 130px;
  margin: 50px 0;
}

#phone-frame {
  width: 100%;
}
.how-work .text-left, .how-work .text-right {
  padding-top: 24%;
}
.how-work .text-left {
  padding-right: 2rem;
  padding-left: 5rem;
}
.how-work .text-right {
  padding-left: 5rem;
}
.how-work .text-left > h2 {
  font-weight: 400;
  font-size: 1.8rem;
}
.how-work .text-right > h4, .how-work .text-right > h5 {
  font-weight: lighter;
}


/* MORE ACTIONS */
.more-actions .card-content {
  height: 400px;
  text-align: center;
  padding-top: 30px;
  color: #fff;
}

.more-actions a {
  color: #fff;
}

.more-actions .mobility {
  height: 500px;
  background-image: url(https://hd2.tudocdn.net/887787?w=1200&h=900);
  background-color: rgba(47, 47, 0, .6);
  background-blend-mode: overlay;
  margin-bottom: 30px;
  position: relative;
}

.text-aligned-right {
  color: #fff;
  text-align: center;
  position: absolute;
  left: 75%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.text-aligned-right h2 {
  font-size: 42px;
  font-weight: normal;
}
.text-aligned-right h3 {
  font-weight: normal;
  margin: 15px 0;
}

.more-actions .app > .card-content {
  background-color: #31404E;
  background-image: url(../img/app.png);
  background-repeat: no-repeat;
  background-position: center;
  background-position-y: 200px;
}

.more-actions .find-us > .card-content {
  background-image: url(../img/find-us.jpg);
  background-size: cover;
}

/* FOOTER */
footer {
  color: #fff;
  background-color: #000;
  padding: 4rem 0;
}

footer .top-row li:not(:last-child) {
  margin-bottom: .8rem;
}

footer .top-row a {
  color: grey;
  font-size: 80%;
}

footer h3 {
  text-transform: uppercase;
  font-weight: normal;
  font-size: 90%;
  margin-bottom: 1.4rem;
}

footer hr {
  border: .5px inset grey;
}

.head-foot-container {
  width: 990px;
  margin: 0 auto;
}

.badge-row a {
  border: 1px solid grey;
  border-radius: 5px;
}

footer .terms-row i {
  font-size: 130%;
  margin-right: 10px;
}

footer .terms-row span {
  font-size: 12px;
}
